<h1 class="text-center my-5">Registro de Usuarios</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form action="/auth/register" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <input 
    class="form-control mb-2"
    name="userName"
    placeholder="Ingrese Nombre"
    type="text"  
    >
    <input 
    class="form-control mb-2"
    name="email"
    placeholder="Ingrese email"
    type="text"
    >
    <input 
    class="form-control mb-2"
    name="password"
    placeholder="Ingrese password"
    type="password"
    >
    <input 
    class="form-control mb-2"
    name="repassword"
    placeholder="Repita password"
    type="password"
    >
    <button class="btn btn-primary" type="submit">Registrar usuario</button>
        </form>        
    </div>
</div>
